<div class="col-md-8 pull-right">
    <ul class="navbar-right nav navbar-nav secondNav">
        <li ng-repeat="nav in navLinks | orderBy:'menuIndex'"> <a href="/{{nav.url}}">{{nav.title}}</a>
        </li>
    </ul>
</div>

<div class="col-md-8 pull-right">
    <ul class="navbar-right nav navbar-nav clearfix mainNav">
        <li><a href="/live">Live Stream</a></li>
        <li><a href="/v-pods">V-Pods</a></li>
        <li><a href="http://podcast.houseologylive.co.uk" target="_blank">Podcasts</a></li>
        <li><a href="//shop.houseologylive.co.uk" target="_blank">Shop</a></li>
    </ul>
</div>