/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

html, body {
  padding: 0;
  margin: 0;
}

.container {
  padding-top: 20px;
}

body {
  color: #fff;
  font-size: 14px;
  font-family: 'Old Standard TT', serif;
  background: url('../img/bgimage.jpg') #000 no-repeat center 30px;
}

.table {
  background-color: rgba(255,255,255,0.8);
  color: #262626;
}

.table a, .table a:hover {
  color: #262626;
}

a {
  color: #fff;
  font-weight: bold;
}

.btn {
  color: #fff !important;
}

a:hover {
  color: #cccccc;
}

.nav-tabs {
  border: 0;
  margin-top: 10px;
  font-size: 20px;
}

.nav-tabs > li {
  background:none;
}

.nav-tabs > li > a {
  border: 0;
  padding: 10px 7px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border: 0;
  background-color: transparent;
  color: #fff;
}

#message {
  height: 100%;
  padding: 0 10px;
}

.messageSection .nav-tabs {
  font-size: 15px;
}

.messageSection .nav-tabs li.active {
  text-decoration: underline;
  background-color: #fff;
}

.messageSection .nav-tabs li.active a {
  color: #000;
}

.messageSection .nav-tabs li a, .messageSection .nav-tabs li a:hover, .messageSection .nav-tabs li a:focus {
  background: none;
  border: 0;
}

.messageSection .nav-tabs li a:hover {
  background: none;
  border: 0;
}

#sendIt {
  width: 100%;
  margin-top: 10px;
}

.profileImageHolder {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #cccccc;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.profileImageHolder img {
  position: absolute;
  width: 100%;
}

#message, .message-container, .userList {
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #fff !important;
  background-color: #000 !important;
  background-image: none;
}

.message-container, .userList {
  min-height: 300px;
  max-height: 300px;
}

.emojiList {
  cursor: pointer;
}

#message-frame, #userList {
  padding: 0;
}

#message-frame li, #userList li {
  padding: 5px;
  margin: 5px 0;
  background-color: #cccccc;
  color: #000;
  list-style-type: none;
}

#message-frame li {
  width: 75%;
  float: left;
  text-align: left;
  border-radius: 10px;
  padding: 5px 10px;
  border-bottom-left-radius: 0;
}

#message-frame li.myMessage {
  background-color: #ff9900;
  float: right;
  text-align: right;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}

#message-frame li.adminMessage {
  width: 100%;
  border-radius: 0;
  background-color: #8300FF;
  color: #fff;
  text-align: left;
}

#userList li a {
  color: #000;
}