@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
//variables
$break-small: 320px;
$break-large: 1200px;

//Global setting styles
body {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-family: 'Old Standard TT', serif;

    @media screen and (max-width: $break-small) {
        background-image: none;
    }

    @media screen and (min-width: $break-large) {
        background-image: url('../img/bgimage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
}

a {
    color: inherit;

    &:visited {
        color: inherit;
    }

}

.navbar {
    &.navbar-inverse {
        background-image: none !important;

        .navbar-nav {
            &.mainNav {
                li {
                    a {
                        font-weight: bold;
                        font-size: 1.2em;
                    }
                }
            }
            &>li {
                &>a {
                    color: #fff;
                    padding: 10px 0 0 20px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    background:rgba(0,0,0,0.6);
    border: 0;
}

//Site specific styles

#message {
    min-height: 104px;
    max-height: 104px;
    overflow-y: auto;
    border: 1px solid #fff;
    outline: 0;
    background-color: #000;
    margin-bottom: 20px;
}

#messageSend {
    position: relative;

    .emojiList {
        position: absolute;
        top: 0;
        left: 0;
    }
}

#message-frame {
    padding-left: 0;

    li {
        list-style-type: none;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: #006699;
        float: left;
        min-width: 65%;
        max-width: 65%;

        &.myMessage {
            float: right;
            background-color: #ff6600;
        }

        &.adminMessage {
            background-color: #660033;
        }

        span {
            font-weight: bold;
        }
        
        .time {
            text-align: right;
            font-size: 12px;
        }
    }
}

#userList {
    @extend #message-frame;
}

.messageSection {
    .nav-tabs {
        border-bottom: 0;
    }
}

.message-container, .userList {
    @extend #message;
    background: none;
    background-color: #000;
    min-height: 336px;
    max-height: 336px;
}

.emojiBtn {
    cursor: pointer;
    @media screen and (min-width: $break-large) {
        margin-bottom: 41px;
    }
}

.emojiList {
    margin-top: 15px;
}