<h1>Register</h1>
<hr/>


<form role="form" id="login" ng-submit="checkUsername(newUser)">
    <div class="col-md-6">
            <div class="form-group">
                    <label>Email (This will also be your username)</label>
                    <input class="form-control" type="text" ng-model="newUser.email" required/>
            </div>
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" ng-model="newUser.email" readonly/>
        </div>
        <div class="form-group">
            <div class="col-md-6 no-padding margin-right"><label>Password</label>
                <input class="form-control" type="password" id="password" required/></div>
            <div class="col-md-6 no-padding"><label>Password Confirm</label>
                <input class="form-control" type="password" ng-model="newUser.password" id="password_confirm" onBlur="check(this)" required/>
                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('password').value) {
                            input.setCustomValidity('Password Must Matching.');
                        } else {
                            // input is valid -- reset the error message
                            input.setCustomValidity('');
                        }
                    }
                </script></div>
                <div class="clearfix"></div>
        </div>
        <div class="form-group">
                <label>Password recovery pin</label>
                <input class="form-control" type="text" maxlength="4" ng-model="newUser.passwordPin" id="passwordPin" required/>
            </div>
    </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Chat Nickname (max 20 chars)</label>
            <input class="form-control" type="text" maxlength="20" ng-model="newUser.chatName" id="chatName" required/>
        </div>
    </div>


    <input type="submit" class="btn btn-success pull-right" value="Create Account">
</form>