<a href="admin/add-user" class="btn btn-success pull-right"> Add New User</a>
<h1>User List</h1>
<hr/>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>User Type</th>
      <th>Date Added</th>
      <th>Last Login</th>
      <th>Account Status</th>
    </tr>
  </thead>

  <tr ng-repeat="adminUser in allUsers | orderBy: 'userType'">
    <td ng-if="adminUser.userType == 'user'"><a href="admin/user-profile/{{adminUser.username}}">{{adminUser.username}}</a></td>
    <td ng-if="adminUser.userType == 'admin'">{{adminUser.username}}</td>
    <td>{{adminUser.userType}}</td>
    <td>{{adminUser.dateAdded | date:'EEE dd MMM yy | h:mma'}}</td>
    <td>{{adminUser.lastLogin | date:'EEE dd MMM yy | h:mma'}}</td>
    <td>{{adminUser.accountStatus}}</td>
    <td> 
      <a class="btn btn-danger" ng-href="#" ng-click="deleteUser(adminUser._id)">Delete</a>
      <a class="btn btn-warning" ng-if="adminUser.accountStatus == 'active'" ng-href="#" ng-click="disableUser(adminUser._id)">Disable</a>
      <a class="btn btn-success" ng-if="adminUser.accountStatus != 'active'" ng-href="#" ng-click="enableUser(adminUser._id)">Enable</a>
    </td>
  </tr>
</table>