<div class="row">
    <div class="col-md-8" ng-if="sunday == true && hour == true">
        <h1>Live Stream</h1>
        <script id="76581_c_421422" width="100%" height="420" src="//player.dacast.com/js/player.js"  class="dacast-video"></script>
    </div>

    <div class="col-md-8" ng-if="sunday != true || hour != true">
        <h1>Live Stream</h1>
        <div class="videoHolder">
            <p>Here is something to keep you guys going until the show starts</p>
            <iframe width="100%" height="420" src="//www.youtube.com/embed/BMLk24Znd_Q?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-md-4" ng-if="loggedInUser && sunday != true">Chat area is not open currently, please wait until Sunday at 6pm</div>
    <div class="col-md-4" ng-if="!loggedInUser"><a href="/user/register">Register</a> or <a href="/admin/login">Login</a> to interact with the live show</div>
    <div class="col-md-4" ng-if="loggedInUser && sunday == true && hour != true">It is Sunday but we are not ready yet, hold on we are nearly there - believe me it will be worth the wait</div>

    <div class="tab-content messageSection col-md-4 col-sm-12" ng-if="loggedInUser"> <!--ng-if="loggedInUser && sunday == true && hour == true"-->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#" data-tab="#messages" aria-controls="messages">Messages</a>
            </li>
            <!--<li>
                <a href="#" data-tab="#users" aria-controls="users" ng-if="userType == 'admin'">Connected Users <span class="userCount"></span></a>
            </li>-->
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active"  id="messages">
                <div class="well message-container">
                    <ul id="message-frame"></ul>
                    <div class="userTyping">user is typing...</div>
                </div>

                <div id="messageSend" data-user='{{loggedInUser}}' data-usertype='{{userType}}'>
                    <div id="messageControl" class="clearfix">
                        <div id="message" class="col-md-9" contenteditable="true"></div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="emojiBtn col-xs-3 col-sm-6 col-md-12"><img src="img/emoji-list/smiley.svg" width="100%" /></div>
                            <input id="sendIt" class="btn btn-success col-xs-9 col-md-12 col-sm-6" type="submit" value="Send"/>
                        </div>
                    </div>
                    
                    <div class="col-md-9 col-xs-6 emojiList">
                        <div class="well popoverContent" style="display:none;"></div>
                    </div>
                </div>
            </div>

            <!--<div role="tabpanel" class="tab-pane"  id="users">
                <div class="well userList">
                    <ul id="userList"></ul>
                </div>
            </div>-->
        </div>
    </div>
</div>

<!--SOCKET IO INTEGRATION-->
<script src="/socket.io/socket.io.js"></script>

<script>
var socket = io.connect('https://houseologychat.herokuapp.com', {path: '/socket.io/', transports: ['websocket']});
var username;
var usertype;
var message;
var html;
var emojis = ['angel.svg', 
            'devil.svg', 
            'angry.svg', 
            'cheeky.svg', 
            'crying.svg', 
            'cry-laugh.svg', 
            'embarrased.svg', 
            'eye-roll.svg', 
            'grin.svg', 
            'happy.svg', 
            'laugh.svg', 
            'love.svg', 
            'rofl.svg', 
            'sad.svg', 
            'shocked.svg', 
            'sick.svg', 
            'smiley.svg', 
            'thinking.svg', 
            'tongue-wink.svg', 
            'wink.svg',
            'bale-face.gif'];

socket.on('welcome', function(data) {

    username = $("#messageSend").data('user');
    usertype= $("#messageSend").data('usertype');
    message = "<span class='systemMessage'>" + username + ' has just joined the chat!</span>';
    if(username !== undefined) {
        socket.emit('newUser', {username: username});
        socket.emit('chat message', {message: message});
    }

    $("#message-frame .pleaseWait").parent().remove();
});

socket.on('userTyping', function(user) {
    console.log(user + " is typing");
    $(".userTyping").show().html(user + " is typing...");

    setTimeout(function() {
        $(".userTyping").hide();
    }, 2000);
});

socket.on('userList update', function(_user) {
    $("#userList").html("");

    for(var i=0; i<_user.length; i++) {
        $("#userList").append("<li><a href='user/profile/"+_user[i]+"' target='_blank'>"+_user[i]+"</a></li>");
    }

    $(".userCount").html(_user.length)
});

socket.on('chat message', function(data) {
    addMessage(data);
});

function addMessage(messageData) {
    $("#message-frame").prepend("<li>"+ messageData +"</li>");

    $("#message-frame li").each(function() {
        if($(this).find("span").data("user") == $("#messageSend").data("user")) {
            $(this).addClass("myMessage");
        }

        if($(this).find("span").hasClass("systemMessage")) {
            $(this).addClass("systemMessageContainer")
        }

        if($(this).find("span").data("usertype") == "admin") {
            var strCont = $(this).html();
            $(this).addClass("adminMessage");
        }
    });
}

$(document).ready(function() {

    addMessage("<span class='pleaseWait systemMessage'>Please wait... you're being connected to the live chat</span>");

    $("#messageSend").keydown(function(event) {
        socket.emit("userTyping", username);

        if(event.keyCode == 13) {
            $("#sendIt").trigger("click");
        }
    });

    $("#messageSend #sendIt").on('click', function() {
        var date = new Date();
        var h = date.getHours(),
        m = (date.getMinutes()<10?'0':'') + date.getMinutes(),
        s = date.getSeconds();

        var _message = $("#message").html();
        $("#message").html("");
        if(_message != "") {
            socket.emit('chat message', {message: "<span data-user='"+username+"' data-usertype='"+usertype+"'>" + username + "</span><br />" + _message + "<div class='time'>@"+ h + ":" + m + ":" + s +"</div>"});
        }
        event.preventDefault();
    });

    $.each(emojis, function(index, value) {
            $(".popoverContent").append("<img width='30' src='img/emoji-list/"+ value +"' />");
    });

    //emoji list
    $(".emojiBtn img").on("click", function() {
        if($(".popoverContent").attr("style")) {
            $(".popoverContent").slideDown();
        } else {
            $(".popoverContent").slideUp();
        }
    });

    $("#sendIt, #message").on("click", function() {
        $(".popoverContent").hide();
    });

    $(".popoverContent img").on("click", function() {
        var src=$(this).attr("src");
        console.log(src)
        if(src == "img/emoji-list/bale-face.gif") {
            $("#message").append("<img width='74%' src='"+src+"' />");
            $(".popoverContent").hide();
        } else {
            $("#message").append("<img height='25' src='"+src+"' />")
        }
        
    });

    //nav tabs

    $(".tab-content .tab-pane").hide();

    $(".nav-tabs li").each(function() {
        if($(this).hasClass("active")) {
            $( ".tab-content " + $(this).children().data("tab") ).show();
        }
    });

    $(".tab-content .nav-tabs a").click(function() {
        event.preventDefault();
        var location = $(this).data("tab");
        $(".nav-tabs li").removeClass("active");
        $(".tab-content .tab-pane").hide();

        $(this).parent().addClass("active");
        $( ".tab-content " + location ).show();
    });
});
</script>
